<%-include("header")-%>
    <h1 class="my=4">Amazin</h1><br/>
    <small class="h4">The Amazin online store</small>
    <p>Welcome to Amazin. You can search more than 2 
        crore Products in your website</p>
        <p>Author:Prakitha</p>
        <p>
            Tech stack:
            <ul>
                <li>Node JS</li>
                <li>Express</li>
                <li>MongoDB using Mongoose</li>
                <li>EJS</li>
            </ul>
        </p>
<%-include("footer")-%>