<%- include( "header" ) -%>
<h1 class="my-5">
    List of Our Users
    <br />
    <small class="h4">The Awesome Users Loved  online store</small>
</h1>
<div>
    Keep waiting while We need to fetch and show the Users
</div>
<%- include( "footer" ) -%>